Repository woowacourse-teams/2025-course-pick, pull requests merged in 2025-09, with the labels that each got.

#409 즐겨찾기 기능을 위한 여러 코스 id 조회 기능 구현
  backend/src/main/java/coursepick/coursepick/application/CourseApplicationService.java
  backend/src/main/java/coursepick/coursepick/domain/CourseRepository.java
  backend/src/main/java/coursepick/coursepick/presentation/CourseWebController.java
  backend/src/main/java/coursepick/coursepick/presentation/api/CourseWebApi.java
  backend/src/main/java/coursepick/coursepick/presentation/api/OpenApiConfig.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CourseWebResponse.java
  backend/src/main/java/coursepick/coursepick/security/PathAllowlistFilter.java
Labels: feat, backend

#432 코스 경로 조회 API 개발
  backend/src/main/java/coursepick/coursepick/application/CourseApplicationService.java
  backend/src/main/java/coursepick/coursepick/presentation/CourseWebController.java
  backend/src/main/java/coursepick/coursepick/presentation/api/CourseWebApi.java
  backend/src/main/java/coursepick/coursepick/security/PathAllowlistFilter.java
Labels: feat, backend

#430 Android CD 파일 정상 작동하도록 변경
  .github/workflows/android-cd.yml
  android/app/build.gradle.kts
  android/app/src/main/java/io/coursepick/coursepick/presentation/CoursePickUpdateManager.kt
  android/app/src/main/res/values/strings.xml
Labels: hotfix, android

#436 OSRM API 정확도 향상
  backend/src/main/java/coursepick/coursepick/infrastructure/OsrmWalkingRouteService.java
  backend/src/test/java/coursepick/coursepick/infrastructure/OsrmWalkingRouteServiceTest.java
Labels: refactor, backend

#443 Osrm 요청시 타임아웃 설정
  backend/src/main/java/coursepick/coursepick/infrastructure/OsrmWalkingRouteService.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
  backend/src/test/java/coursepick/coursepick/application/CourseSyncServiceTest.java
  backend/src/test/java/coursepick/coursepick/batch/CourseBatchTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseRepositoryTest.java
  backend/src/test/java/coursepick/coursepick/infrastructure/OsrmWalkingRouteServiceTest.java
  backend/src/test/java/coursepick/coursepick/test_util/AbstractIntegrationTest.java
  backend/src/test/java/coursepick/coursepick/test_util/AbstractMockServerTest.java
  backend/src/test/java/coursepick/coursepick/test_util/SimpleMockServer.java
Labels: feat, backend

#455 검색 화면 compose 마이그레이션
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/OnSelectListener.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchAdapter.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchResult.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchScreen.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchViewHolder.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/ui/theme/Color.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/ui/theme/Theme.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/ui/theme/Type.kt
  android/app/src/main/res/layout/activity_search.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: refactor, android

#419 코스 스크랩 기능 추가
  android/.editorconfig
  android/app/src/main/java/io/coursepick/coursepick/data/course/CourseService.kt
  android/app/src/main/java/io/coursepick/coursepick/data/course/DefaultCourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/data/favorites/DefaultFavoritesRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/data/interceptor/OffLineInterceptor.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/course/CourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/favorites/FavoritesRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/CoursePickApplication.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CourseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CourseItemListener.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesContent.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/DefaultCourseItemListener.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/ExploreCoursesFragment.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/favorites/FavoriteCoursesFragment.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/preference/CoursePickPreferences.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchResult.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchScreen.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/ui/theme/Color.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/ui/theme/Theme.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/ui/theme/Type.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/ui/BindingAdapter.kt
  android/app/src/main/res/drawable/icon_courses_menu.xml
  android/app/src/main/res/drawable/icon_favorite.xml
  android/app/src/main/res/drawable/icon_favorite_menu.xml
  android/app/src/main/res/drawable/icon_not_favorite.xml
  android/app/src/main/res/layout/activity_courses.xml
  android/app/src/main/res/layout/fragment_explore_courses.xml
  android/app/src/main/res/layout/fragment_favorite_courses.xml
  android/app/src/main/res/layout/item_course.xml
  android/app/src/main/res/layout/item_place.xml
  android/app/src/main/res/menu/menu_bottom_navigation.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/io/coursepick/coursepick/presentation/course/CoursesViewModelTest.kt
  android/app/src/test/java/io/coursepick/coursepick/presentation/fixtures/FakeCourseRepository.kt
  android/app/src/test/java/io/coursepick/coursepick/presentation/fixtures/FakeFavoritesRepository.kt
Labels: feat, android

#449 JVM 메모리 관련 매트릭 설정 추가
  backend/src/main/resources/monitoring-config.yml
Labels: backend

#459 코스 이름에 인덱스 추가
  backend/src/main/java/coursepick/coursepick/domain/Course.java
Labels: feat, backend
