Repository woowacourse-teams/2025-course-pick, pull requests merged in 2025-10, with the labels that each got.

#471 선택된 코스를 선택되지 않은 코스보다 강조
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/RouteLineOptionsFactory.kt
  android/app/src/main/res/values/dimens.xml
Labels: refactor, android

#475 길찾기 관련 안내 텍스트 개선
  android/app/src/main/java/io/coursepick/coursepick/presentation/routefinder/RouteFinderApplication.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/routefinder/RouteFinderChoiceUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/ui/BindingAdapter.kt
  android/app/src/main/res/layout/dialog_route_finder_choice.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/preferences.xml
Labels: refactor, android, backend

#474 GCP에 타임아웃 설정, 예외 처리 리팩터링
  backend/src/main/java/coursepick/coursepick/batch/CourseFileFetcher.java
  backend/src/main/java/coursepick/coursepick/batch/CourseSyncJobConfig.java
  backend/src/main/java/coursepick/coursepick/infrastructure/GoogleDriveCourseFileFetcher.java
  backend/src/test/java/coursepick/coursepick/application/CourseSyncServiceTest.java
Labels: feat, refactor, backend
