Repository woowacourse-teams/2025-course-pick, pull requests merged in 2025-08, with the labels that each got.

#189 드로어 레이아웃 구현
  android/app/build.gradle.kts
  android/app/src/main/java/io/coursepick/coursepick/view/BindingAdapter.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapManager.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainAction.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/res/drawable/background_menu.xml
  android/app/src/main/res/drawable/icon_menu.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/menu/menu_navigation_main.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
Labels: feat, android

#170 `Course` - `Segment` - `GeoLine` - `Coordinate` 도메인 로직 개선
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/main/java/coursepick/coursepick/domain/CoordinateBuilder.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/domain/CourseName.java
  backend/src/main/java/coursepick/coursepick/domain/GeoLine.java
  backend/src/main/java/coursepick/coursepick/domain/GeoLineBuilder.java
  backend/src/main/java/coursepick/coursepick/domain/Meter.java
  backend/src/main/java/coursepick/coursepick/domain/Segment.java
  backend/src/main/java/coursepick/coursepick/domain/SegmentBuilder.java
  backend/src/main/java/coursepick/coursepick/infrastructure/GeoLineListConverter.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
  backend/src/test/java/coursepick/coursepick/domain/GeoLineTest.java
  backend/src/test/java/coursepick/coursepick/domain/SegmentTest.java
  backend/src/test/java/coursepick/coursepick/infrastructure/GpxCourseParserTest.java
  backend/src/test/java/coursepick/coursepick/infrastructure/KmlCourseParserTest.java
Labels: refactor, backend

#198 지역에 코스가 없을 경우 토스트 메시지를 통해 사용자에게 알림
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainUiEvent.kt
Labels: feat, android

#203 컴파일 에러 해결
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
Labels: backend, fix

#197 안드로이드 개발자를 위한 서버 실행 쉘 스크립트 작성
  backend/Dockerfile
  backend/etc/backend.start.sh
  backend/etc/docker-compose.local.yml
Labels: setup, backend

#207 코스 목록 조회 API 변경사항 대응
  android/app/src/main/java/io/coursepick/coursepick/data/CourseDto.kt
  android/app/src/main/java/io/coursepick/coursepick/data/CourseService.kt
  android/app/src/main/java/io/coursepick/coursepick/data/DefaultCourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Course.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainViewModel.kt
  android/app/src/main/res/layout/item_course.xml
  android/app/src/test/java/io/coursepick/coursepick/view/fixtures/FakeRepository.kt
Labels: refactor, android

#217 지도 화면 상태 수정
  android/app/src/main/java/io/coursepick/coursepick/view/GeolocationExtensions.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapCameraController.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapDrawer.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapEventHandler.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapManager.kt
  android/app/src/main/java/io/coursepick/coursepick/view/LocationProvider.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/RouteLineOptionsFactory.kt
  android/app/src/main/res/drawable/image_search_location.png
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/dimens.xml
Labels: feat, android

#218 길찾기 지도 연결 다이얼로그 구현
  android/app/src/main/java/io/coursepick/coursepick/data/CourseService.kt
  android/app/src/main/java/io/coursepick/coursepick/data/DefaultCourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseItemListener.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseViewHolder.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainUiEvent.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MapApplication.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MapChoiceDialog.kt
  android/app/src/main/res/layout/item_course.xml
  android/app/src/test/java/io/coursepick/coursepick/domain/fixture/CoordinateFixture.kt
  android/app/src/test/java/io/coursepick/coursepick/domain/fixture/CourseFixture.kt
  android/app/src/test/java/io/coursepick/coursepick/domain/fixture/LatitudeFixture.kt
  android/app/src/test/java/io/coursepick/coursepick/domain/fixture/LongitudeFixture.kt
  android/app/src/test/java/io/coursepick/coursepick/view/MainViewModelTest.kt
  android/app/src/test/java/io/coursepick/coursepick/view/fixtures/FakeRepository.kt
  android/app/src/test/java/io/coursepick/coursepick/view/fixtures/FixtureCourse.kt
Labels: feat, android

#227 검색 위치 아이콘이 정상적으로 표시되지 않는 현상 수정
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapDrawer.kt
Labels: android, fix

#223 기본 지도 앱 설정
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/coursepick/coursepick/domain/Coordinate.kt
  android/app/src/main/java/io/coursepick/coursepick/view/AndroidExtensions.kt
  android/app/src/main/java/io/coursepick/coursepick/view/BindingAdapter.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CoursePickApplication.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CoursePickPreferences.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MapChoiceDialogFragment.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MapChoiceUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/view/OnChosenListener.kt
  android/app/src/main/java/io/coursepick/coursepick/view/PreferencesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/PreferencesFragment.kt
  android/app/src/main/res/layout/activity_preferences.xml
  android/app/src/main/res/layout/dialog_map_choice.xml
  android/app/src/main/res/menu/menu_navigation_main.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/preferences.xml
  android/gradle/libs.versions.toml
Labels: feat, android

#235 검색 화면 로깅 적용
  android/app/src/main/java/io/coursepick/coursepick/view/Logger.kt
  android/app/src/main/java/io/coursepick/coursepick/view/SearchActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/SearchViewModel.kt
Labels: feat, android

#236 핫픽스: 백엔드 개발서버 CD 파일에 self hosted runner 태그 지정
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-cd.yml
  backend/src/main/resources/application-prod.yml
Labels: hotfix, backend

#246 로그, gcp인증정보 파일들의 경로를 절대 경로로 수정
  backend/src/main/resources/logback-spring.xml
  backend/src/test/resources/logback-test.xml
Labels: refactor, backend

#264 코스 탐색 시 탐색 범위를 받도록 API 수정
  backend/src/main/java/coursepick/coursepick/application/CourseApplicationService.java
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/main/java/coursepick/coursepick/domain/Meter.java
  backend/src/main/java/coursepick/coursepick/presentation/CourseWebController.java
  backend/src/main/java/coursepick/coursepick/presentation/api/CourseWebApi.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
Labels: feat, backend

#272 코스 불러오기 로딩 상태 처리
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/ui/BindingAdapter.kt
  android/app/src/main/res/layout/activity_courses.xml
Labels: feat, android

#266 local 프로필에서 웹 기반으로 gpx 파일 넣을 수 있는 기능 추가
  backend/src/main/java/coursepick/coursepick/application/dto/CourseFile.java
  backend/src/main/java/coursepick/coursepick/application/dto/CourseFileExtension.java
  backend/src/main/java/coursepick/coursepick/application/local/CourseLocalService.java
  backend/src/main/java/coursepick/coursepick/domain/CourseRepository.java
  backend/src/main/java/coursepick/coursepick/presentation/local/CourseLocalController.java
  backend/src/main/resources/local/import.html
Labels: feat, backend

#252 서치바 디자인 통일
  android/app/src/main/java/io/coursepick/coursepick/presentation/ui/BindingAdapter.kt
  android/app/src/main/res/drawable/background_toolbar.xml
  android/app/src/main/res/layout/activity_courses.xml
Labels: feat, android

#287 검색 화면 로딩 상태 처리
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchViewModel.kt
  android/app/src/main/res/layout/activity_search.xml
Labels: feat, android

#248 로그 남기는 방식을 구조화
  backend/build.gradle.kts
  backend/src/main/java/coursepick/coursepick/application/CourseParserService.java
  backend/src/main/java/coursepick/coursepick/application/CourseSyncService.java
  backend/src/main/java/coursepick/coursepick/logging/HttpLoggingFilter.java
  backend/src/main/java/coursepick/coursepick/logging/LogContent.java
  backend/src/main/java/coursepick/coursepick/presentation/WebExceptionHandler.java
  backend/src/main/resources/logback-spring.xml
Labels: refactor, backend

#294 사용자 인터렉션에 대한 로깅 추가
  android/app/src/main/java/io/coursepick/coursepick/presentation/CoursePickApplication.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/LocationProvider.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/Logger.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapEventHandler.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/preference/CoursePickPreferences.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchActivity.kt
Labels: feat, android

#295 코스 색을 학습시키는 장치 설계 및 구현
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CourseColorDescriptionDialog.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesAction.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/OnConfirmListener.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/RouteLineOptionsFactory.kt
  android/app/src/main/res/drawable/background_course_color.xml
  android/app/src/main/res/drawable/background_course_color_description_confirm.xml
  android/app/src/main/res/drawable/icon_course_color_information.xml
  android/app/src/main/res/layout/activity_courses.xml
  android/app/src/main/res/layout/dialog_course_color_description.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#270 화이트리스트를 제외하고는 404 응답하는 필터 추가
  backend/src/main/java/coursepick/coursepick/security/PathAllowlistFilter.java
  backend/src/main/resources/application-dev.yml
Labels: feat, backend

#263 좌표 전처리 기능 개발
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/main/java/coursepick/coursepick/domain/CoordinateBuilder.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/logging/metrics/HealthCheckMetricPublisher.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
  backend/src/test/java/coursepick/coursepick/domain/CoordinateTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseRepositoryTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
  backend/src/test/java/coursepick/coursepick/test_util/CoordinateTestUtil.java
Labels: feat, backend

#299 테스트 가독성을 위한 유틸 기능 추가
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/main/java/coursepick/coursepick/domain/GeoLine.java
  backend/src/test/java/coursepick/coursepick/CoursepickApplicationTests.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
  backend/src/test/java/coursepick/coursepick/application/CourseSyncServiceTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseRepositoryTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
  backend/src/test/java/coursepick/coursepick/domain/GeoLineTest.java
  backend/src/test/java/coursepick/coursepick/domain/InclineTypeTest.java
  backend/src/test/java/coursepick/coursepick/infrastructure/GpxCourseParserTest.java
  backend/src/test/java/coursepick/coursepick/infrastructure/KmlCourseParserTest.java
  backend/src/test/java/coursepick/coursepick/test_util/CoordinateTestUtil.java
  backend/src/test/java/coursepick/coursepick/test_util/GpxTestUtil.java
  backend/src/test/java/coursepick/coursepick/test_util/IntegrationTest.java
Labels: refactor, test, backend

#259 요청에서 clientId를 추출하여 로깅
  backend/src/main/java/coursepick/coursepick/application/CourseSyncService.java
  backend/src/main/java/coursepick/coursepick/logging/AsyncConfig.java
  backend/src/main/java/coursepick/coursepick/logging/ClientIdLoggingFilter.java
Labels: feat, backend

#282 API 문서에서 URI 정보 제거, 운영서버에서 API 문서 제거
  .github/workflows/backend-dev-cd.yml
  backend/src/main/java/coursepick/coursepick/presentation/api/OpenApiConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: refactor, backend

#293 dev 프로파일 도커 설정
  .github/workflows/backend-dev-cd.yml
  backend/Dockerfile
  backend/etc/docker-compose.dev.yml
  backend/src/main/resources/application-dev.yml
Labels: feat, refactor, backend

#309 application-dev.yml 긴급 수정
  backend/src/main/resources/application-dev.yml
Labels: hotfix, backend

#305 파일명 길이가 잘못 집계되던 문제 해결
  backend/src/main/java/coursepick/coursepick/application/dto/CourseFile.java
  backend/src/test/java/coursepick/coursepick/application/dto/CourseFileTest.java
Labels: backend, fix

#313 개발툴을 개발 서버 환경에서도 사용
  backend/src/main/java/coursepick/coursepick/devtool/CourseImportApi.java
Labels: hotfix, backend

#314 개발환경의 개발툴에도 설정 정보 추가
  backend/src/main/resources/application-dev.yml
Labels: hotfix, backend

#280 운영서버 https 설정
  .github/workflows/prod-app-cd.yml
  backend/src/main/resources/application.yml
Labels: feat, backend

#307 prod 프로파일용 도커 관련 설정
  .github/workflows/backend-prod-cd.yml
  .github/workflows/prod-app-cd.yml
  backend/etc/docker-compose.prod-db.yml
  backend/etc/docker-compose.prod-server.yml
  backend/src/main/java/coursepick/coursepick/security/PathAllowlistFilter.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/monitoring-config.yml
Labels: feat, setup, backend

#340 검색 결과로 코스 탐색 시 지도의 줌 상태를 지정
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapCameraController.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapManager.kt
Labels: feat, android

#343 현위치 정보가 없는 경우 '이 위치 검색' 버튼 소멸 버그 해결
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapManager.kt
Labels: android, fix

#345 가로 모드 제한
  android/app/src/main/AndroidManifest.xml
Labels: feat, android

#348 검색된 장소 선택 시 코스 화면 검색창에 이름이 표시되도록 변경
  android/app/src/main/java/io/coursepick/coursepick/presentation/CoordinateKeys.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/IntentKeys.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesAction.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/search/SearchActivity.kt
  android/app/src/main/res/drawable/icon_clear_query.xml
  android/app/src/main/res/layout/activity_courses.xml
Labels: feat, android

#355 검색된 장소 선택 시 탐색 기준 위치 표시 기능 추가
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
Labels: feat, android

#357 코스 목록 화면 Empty 상태 추가 및 처리
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesUiEvent.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesViewModel.kt
  android/app/src/main/res/layout/activity_courses.xml
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#359 정확한 위치 권한이 허용된 경우만 현위치 기능 제공
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#346 [긴급] CI/CD 환경변수 관리를 간편화
  .github/workflows/backend-dev-cd.yml
  .github/workflows/prod-app-cd.yml
  backend/etc/amazon-cloudwatch-agent.json
  backend/etc/docker-compose.dev.yml
  backend/etc/docker-compose.prod-db.yml
  backend/etc/docker-compose.prod-lb.yml
  backend/etc/docker-compose.prod-server.yml
  backend/etc/docker_compose/docker-compose.dev.yml
  backend/etc/docker_compose/docker-compose.local.yml
  backend/etc/docker_compose/docker-compose.prod-app.yml
  backend/etc/docker_compose/docker-compose.prod-db.yml
  backend/etc/env_template/.env.dev
  backend/etc/env_template/.env.github-secrets
  backend/etc/env_template/.env.prod.app
  backend/etc/env_template/.env.prod.db
  backend/etc/install-script.md
  backend/etc/nginx.conf
Labels: refactor, backend

#351 코스이름 파싱을 제대로 하지 못하던 문제 해결
  backend/src/main/java/coursepick/coursepick/application/dto/CourseFile.java
  backend/src/test/java/coursepick/coursepick/application/dto/CourseFileTest.java
Labels: backend, fix

#360 코스 선택 시 바텀 시트 강제 변경 제거
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
Labels: refactor, android

#363 첫 진입 시 현위치 지도 중앙에 표시
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapManager.kt
Labels: feat, android

#291 코스에 경사도 요약 정보 추가
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/application/exception/ErrorType.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/domain/InclineSummary.java
  backend/src/main/java/coursepick/coursepick/domain/Meter.java
  backend/src/main/java/coursepick/coursepick/domain/Segment.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CourseWebResponse.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
  backend/src/test/java/coursepick/coursepick/domain/InclineSummaryTest.java
  backend/src/test/java/coursepick/coursepick/domain/MeterTest.java
Labels: feat, backend

#352 휴유 서버 탐침 스크립트 버그 해결
  .github/workflows/backend-ci.yml
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-app-cd.yml
  .github/workflows/backend-prod-cd.yml
Labels: backend, fix

#347 코스 화면 네트워크 미연결 확인 기능 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/coursepick/coursepick/data/DefaultNetworkMonitor.kt
  android/app/src/main/java/io/coursepick/coursepick/data/NetworkMonitor.kt
  android/app/src/main/java/io/coursepick/coursepick/data/Services.kt
  android/app/src/main/java/io/coursepick/coursepick/data/interceptor/OffLineInterceptor.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/CoursePickApplication.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/compat/OnReconnectListener.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesViewModel.kt
  android/app/src/main/res/layout/activity_courses.xml
  android/app/src/main/res/layout/layout_no_internet.xml
  android/app/src/test/java/io/coursepick/coursepick/presentation/course/CoursesViewModelTest.kt
  android/app/src/test/java/io/coursepick/coursepick/presentation/fixtures/FakeNetworkMonitor.kt
Labels: feat, android

#366 앱 처음 시작 시 `이 지역 검색` 버튼이 표시되지 않도록 변경
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapEventHandler.kt
  android/app/src/main/res/layout/activity_courses.xml
Labels: refactor, android

#373 카카오맵 최초 위치 변경
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapLifecycleHandler.kt
Labels: feat, android

#375 코스 정보 요약 화면에 반영
  android/app/src/main/java/io/coursepick/coursepick/data/course/CourseDto.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/course/Course.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/course/InclineSummary.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CourseItem.kt
  android/app/src/main/res/drawable/icon_course_type.xml
  android/app/src/main/res/drawable/icon_length.xml
  android/app/src/main/res/drawable/icon_road_type.xml
  android/app/src/main/res/layout/item_course.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/io/coursepick/coursepick/domain/course/CourseTest.kt
  android/app/src/test/java/io/coursepick/coursepick/domain/fixture/CourseFixture.kt
Labels: feat, android

#379 카메라 이동 후 해당 위치 기반으로 코스 조회
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesViewModel.kt
Labels: feat, android

#374 상단 검색바 크기 조정
  android/app/src/main/res/layout/activity_courses.xml
  android/app/src/main/res/values/themes.xml
Labels: refactor, android

#362 다크모드 대비 차이 줄이기
  android/app/src/main/res/values-night/colors.xml
Labels: feat, android

#371 개발 서버 Mongo Express 포트 변경
  backend/etc/docker_compose/docker-compose.dev.yml
Labels: setup, backend

#380 디자인 전반적 수정
  android/app/src/main/java/io/coursepick/coursepick/presentation/course/CoursesActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/presentation/map/kakao/KakaoMapManager.kt
  android/app/src/main/res/drawable/icon_length.xml
  android/app/src/main/res/drawable/icon_road_type.xml
  android/app/src/main/res/drawable/image_search_location.png
  android/app/src/main/res/layout/activity_courses.xml
  android/app/src/main/res/layout/layout_no_internet.xml
  android/app/src/main/res/values/strings.xml
Labels: android
