Repository woowacourse-teams/2025-course-pick, pull requests merged in 2025-07, with the labels that each got.

#5 프로젝트 문서 작성
  .github/pull_request_template.md
  README.md
  backend/docs/개발기술선택이유.md
  docs/페르소나.md
Labels: 📃 docs, 📐setup

#19 Android CI 구축
  .github/workflows/android-ci.yml
Labels: setup, android

#21 CI에 ktlint 검사 추가
  .github/workflows/android-ci.yml
Labels: setup, android

#34 도커 support 제거
  backend/build.gradle.kts
  backend/docker/docker-compose.local.yml
  backend/src/main/resources/application-local.yml
Labels: refactor, backend

#37 백엔드 CD 추가
  .github/workflows/backend-cd.yml
  .github/workflows/backend-ci.yml
  backend/Dockerfile
  backend/src/main/resources/application-dev.yml
Labels: setup, backend

#42 테스트케이스 추가
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
  backend/src/test/java/coursepick/coursepick/domain/CoordinateTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseRepositoryTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
  backend/src/test/java/coursepick/coursepick/test_util/DatabaseInserter.java
Labels: test, backend

#44 기존 엔티티의 역할들을 값객체로 분리
  backend/build.gradle.kts
  backend/src/main/java/coursepick/coursepick/application/CourseApplicationService.java
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/domain/CourseRepository.java
  backend/src/main/java/coursepick/coursepick/domain/GeoLine.java
  backend/src/main/java/coursepick/coursepick/domain/Meter.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/GeoJson.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
  backend/src/test/java/coursepick/coursepick/domain/CoordinateTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseRepositoryTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
Labels: refactor, backend

#46 커스텀 예외 및 처리 기능 추가
  backend/src/main/java/coursepick/coursepick/application/exception/ApplicationException.java
  backend/src/main/java/coursepick/coursepick/application/exception/ErrorType.java
  backend/src/main/java/coursepick/coursepick/application/exception/InvalidArgumentException.java
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/presentation/WebExceptionHandler.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/ErrorResponse.java
  backend/src/test/java/coursepick/coursepick/domain/CoordinateTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
Labels: feat, backend

#49 코스 목록 조회 API 연결
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/coursepick/coursepick/data/CourseService.kt
  android/app/src/main/java/io/coursepick/coursepick/data/GetCoursesResponseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/data/Services.kt
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: feat, android

#47 MainViewModel 테스트 작성
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/coursepick/coursepick/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Course.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseName.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Distance.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Length.kt
  android/app/src/main/java/io/coursepick/coursepick/view/BindingAdapter.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseAdapter.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseViewHolder.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainUiState.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/view/OnSelectCourseListener.kt
  android/app/src/main/res/drawable/background_course_selected.xml
  android/app/src/main/res/drawable/background_courses.xml
  android/app/src/main/res/drawable/background_courses_handle.xml
  android/app/src/main/res/drawable/icon_length.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/item_course.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/io/coursepick/coursepick/view/Extention.kt
  android/app/src/test/java/io/coursepick/coursepick/view/InstantTaskExecutorExtension.kt
  android/app/src/test/java/io/coursepick/coursepick/view/MainViewModelTest.kt
  android/app/src/test/java/io/coursepick/coursepick/view/fixtures/FakeRepository.kt
  android/app/src/test/java/io/coursepick/coursepick/view/fixtures/FixtureCourse.kt
  android/gradle/libs.versions.toml
Labels: test, android

#53 지도 API 연결
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/coursepick/coursepick/CoursePickApplication.kt
  android/app/src/main/java/io/coursepick/coursepick/KakaoMapManager.kt
  android/app/src/main/java/io/coursepick/coursepick/MapActivity.kt
  android/app/src/main/res/layout/activity_map.xml
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
Labels: feat, android

#63 코스 목록 조회 API 변경사항 대응
  android/app/src/main/java/io/coursepick/coursepick/data/GetCoursesResponseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/data/Services.kt
Labels: android, fix

#69 API 문서 작성
  .gitignore
  backend/build.gradle.kts
  backend/src/main/java/coursepick/coursepick/application/exception/ErrorType.java
  backend/src/main/java/coursepick/coursepick/presentation/CourseWebController.java
  backend/src/main/java/coursepick/coursepick/presentation/api/CourseWebApi.java
  backend/src/main/java/coursepick/coursepick/presentation/api/OpenApiConfig.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/GeoJson.java
  backend/src/main/resources/application.yml
Labels: docs, backend

#67 코스 목록 표시 시 m/km 단위 변환
  android/app/src/main/java/io/coursepick/coursepick/view/BindingAdapter.kt
  android/app/src/main/res/layout/item_course.xml
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#76 coderabbit.yaml 수정
  .coderabbit.yaml
Labels: docs, android, backend

#56 뒤로가기 버튼 2번 누르면 종료 기능
  android/app/src/main/java/io/coursepick/coursepick/view/DoublePressDetector.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#93 CD 워크플로에 Self-hosted Runner 적용
  .github/workflows/backend-cd.yml
  .github/workflows/backend-image-push.yml
Labels: feat, backend

#91 길 속성을 API 응답에 추가
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/domain/RoadType.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/GeoJson.java
Labels: feat, backend

#90 러닝 코스 선택 시 코스 전체가 보이도록 카메라를 조정하는 기능 추가
  android/app/src/main/java/io/coursepick/coursepick/view/ContextExtensions.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapCameraController.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapDrawer.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapManager.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/values/dimens.xml
Labels: feat, android

#98 코스 선택 시 카메라 이동 애니메이션 추가
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapCameraController.kt
Labels: feat, android

#89 러닝 코스 관련 정보(길 유형, 난이도) 기능 추가
  android/app/src/main/java/io/coursepick/coursepick/data/GetCoursesResponseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseDifficulty.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseType.kt
  android/app/src/main/res/drawable/icon_course_type.xml
  android/app/src/main/res/layout/item_course.xml
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#101 파일 로깅 형태를 JSON 형태로 변경
  backend/build.gradle.kts
  backend/src/main/resources/logback-spring.xml
Labels: refactor, backend

#108 앱 아이콘 및 이름 설정
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values/ic_launcher_background.xml
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#110 현 위치 기반 재검색 기능 구현
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapManager.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/view/OnSearchThisAreaListener.kt
  android/app/src/main/res/drawable/background_search_this_area.xml
  android/app/src/main/res/drawable/icon_search_this_area.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/values/strings.xml
Labels: feat, android

#112 현 위치 실시간 반영
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapDrawer.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapManager.kt
  android/app/src/main/java/io/coursepick/coursepick/view/LocationProvider.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainActivity.kt
  android/app/src/main/res/drawable/image_current_location.png
Labels: feat, android

#115 다크 모드 대응
  android/app/src/main/res/drawable/background_course_selected.xml
  android/app/src/main/res/drawable/background_courses.xml
  android/app/src/main/res/drawable/background_courses_handle.xml
  android/app/src/main/res/drawable/icon_course_type.xml
  android/app/src/main/res/drawable/icon_length.xml
  android/app/src/main/res/layout/item_course.xml
  android/app/src/main/res/values-night/colors.xml
  android/app/src/main/res/values/colors.xml
Labels: feat, android

#122 코스 내 좌표 반시계 방향 정렬 기능 추가
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/test/java/coursepick/coursepick/domain/CoordinateTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
Labels: refactor, backend

#116 최단거리 코스 좌표 조회 API 구현
  backend/src/main/java/coursepick/coursepick/application/CourseApplicationService.java
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/application/exception/ErrorType.java
  backend/src/main/java/coursepick/coursepick/application/exception/NotFoundException.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/domain/CourseRepository.java
  backend/src/main/java/coursepick/coursepick/domain/GeoLine.java
  backend/src/main/java/coursepick/coursepick/presentation/CourseWebController.java
  backend/src/main/java/coursepick/coursepick/presentation/WebExceptionHandler.java
  backend/src/main/java/coursepick/coursepick/presentation/api/CourseWebApi.java
  backend/src/main/java/coursepick/coursepick/presentation/api/OpenApiConfig.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CoordinateResponse.java
  backend/src/test/java/coursepick/coursepick/application/CourseApplicationServiceTest.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
  backend/src/test/java/coursepick/coursepick/domain/GeoLineTest.java
  backend/src/test/java/coursepick/coursepick/test_util/DatabaseCleaner.java
Labels: feat, backend

#126 HTTP 로깅 가독성 개선
  android/app/src/main/java/io/coursepick/coursepick/data/PrettyPrintLogger.kt
  android/app/src/main/java/io/coursepick/coursepick/data/Services.kt
Labels: feat, android

#128 코스 응답에 지형 및 난이도 추가
  android/app/src/main/java/io/coursepick/coursepick/data/GetCoursesResponseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Course.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseDifficulty.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseType.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseItem.kt
  android/app/src/main/res/layout/item_course.xml
  android/app/src/test/java/io/coursepick/coursepick/domain/CourseTest.kt
  android/app/src/test/java/io/coursepick/coursepick/view/fixtures/FixtureCourse.kt
Labels: feat, android

#140 주변 코스 조회 응답 변경
  backend/src/main/java/coursepick/coursepick/presentation/dto/GeoJson.java
Labels: feat, backend

#142 주변 코스 조회 API의 불필요한 응답 제거
  backend/src/main/java/coursepick/coursepick/presentation/dto/GeoJson.java
Labels: feat, backend

#124 주변 코스 조회 응답 수정
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/presentation/CourseWebController.java
  backend/src/main/java/coursepick/coursepick/presentation/api/CourseWebApi.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CoordinateResponse.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CoordinateWebResponse.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CourseWebResponse.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/GeoJson.java
Labels: refactor, docs, backend

#150 도메인 엔티티의 getter를 lombok으로 치환
  backend/src/main/java/coursepick/coursepick/domain/Course.java
Labels: refactor, backend

#146 HTTP 요청/응답 로깅 기능 추가
  .gitignore
  backend/src/main/java/coursepick/coursepick/logging/HttpLoggingFilter.java
  backend/src/main/java/coursepick/coursepick/presentation/WebExceptionHandler.java
Labels: feat, backend

#168 코스 목록 조회 API 변경사항 대응
  android/app/src/main/java/io/coursepick/coursepick/data/GetCoursesResponseItem.kt
Labels: refactor, android

#166 주변 코스 조회 API를 세그먼트 단위로 자르고, 경사 정보 추가
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/application/dto/SegmentResponse.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/domain/GeoLine.java
  backend/src/main/java/coursepick/coursepick/domain/InclineType.java
  backend/src/main/java/coursepick/coursepick/domain/Segment.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CourseWebResponse.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/SegmentWebResponse.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
  backend/src/test/java/coursepick/coursepick/domain/GeoLineTest.java
  backend/src/test/java/coursepick/coursepick/domain/InclineTypeTest.java
  backend/src/test/java/coursepick/coursepick/domain/SegmentTest.java
Labels: feat, backend

#135 이 위치 재검색 및 바텀 시트 스타일 변경
  android/app/src/main/res/drawable/background_course_item_default.xml
  android/app/src/main/res/drawable/background_course_item_selected.xml
  android/app/src/main/res/drawable/background_course_item_selector.xml
  android/app/src/main/res/drawable/background_course_selected.xml
  android/app/src/main/res/drawable/background_search_this_area.xml
  android/app/src/main/res/drawable/icon_search_this_area.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/item_course.xml
Labels: refactor, android

#182 Android Firebase Crashlytics 도입
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: feat, android

#175 난이도 응답을 문자열로 변경
  backend/src/main/java/coursepick/coursepick/application/dto/CourseResponse.java
  backend/src/main/java/coursepick/coursepick/domain/Course.java
  backend/src/main/java/coursepick/coursepick/domain/Difficulty.java
  backend/src/main/java/coursepick/coursepick/presentation/dto/CourseWebResponse.java
  backend/src/test/java/coursepick/coursepick/domain/CourseTest.java
Labels: feat, backend

#172 코스에 경사 정보 추가
  android/app/src/main/java/io/coursepick/coursepick/data/CoordinateDto.kt
  android/app/src/main/java/io/coursepick/coursepick/data/CourseDto.kt
  android/app/src/main/java/io/coursepick/coursepick/data/CourseService.kt
  android/app/src/main/java/io/coursepick/coursepick/data/DefaultCourseRepository.kt
  android/app/src/main/java/io/coursepick/coursepick/data/GetCoursesResponseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/data/SegmentDto.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Course.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/CourseDifficulty.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Distance.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/InclineType.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Length.kt
  android/app/src/main/java/io/coursepick/coursepick/domain/Segment.kt
  android/app/src/main/java/io/coursepick/coursepick/view/CourseItem.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapCameraController.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapDrawer.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapLifecycleHandler.kt
  android/app/src/main/java/io/coursepick/coursepick/view/KakaoMapManager.kt
  android/app/src/main/java/io/coursepick/coursepick/view/MainViewModel.kt
  android/app/src/main/java/io/coursepick/coursepick/view/RouteLineOptionsFactory.kt
  android/app/src/main/res/drawable/image_arrow.png
  android/app/src/main/res/layout/item_course.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/test/java/io/coursepick/coursepick/domain/CourseTest.kt
  android/app/src/test/java/io/coursepick/coursepick/domain/SegmentTest.kt
  android/app/src/test/java/io/coursepick/coursepick/view/fixtures/FixtureCourse.kt
Labels: feat, android

#188 파일로 코스 생성시 파일 이름을 코스 이름으로 설정
  backend/src/main/java/coursepick/coursepick/application/CourseApplicationService.java
  backend/src/main/java/coursepick/coursepick/domain/CourseParser.java
  backend/src/main/java/coursepick/coursepick/infrastructure/GpxCourseParser.java
  backend/src/main/java/coursepick/coursepick/infrastructure/KmlCourseParser.java
  backend/src/main/java/coursepick/coursepick/presentation/CourseWebController.java
  backend/src/main/java/coursepick/coursepick/presentation/api/CourseWebApi.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/import.html
  backend/src/test/java/coursepick/coursepick/infrastructure/GpxCourseParserTest.java
  backend/src/test/java/coursepick/coursepick/infrastructure/KmlCourseParserTest.java
Labels: feat, backend

#192 BigDecimal 생성 로직 수정
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
Labels: hotfix, backend

#193 내적 비율 계산시 NaN이 나오는 문제 해결
  backend/src/main/java/coursepick/coursepick/domain/Coordinate.java
Labels: hotfix, backend
